{
    endpoint: {{{endpoint}}}, 
    auth: {{{auth}}}, 
    method: {{{method}}}, 
    uuid: {{{uuid}}},
    callback: {{{callback}}}, 
    querySelect: {{{querySelect}}},
    paramSelect: {{{paramSelect}}}, 
    headerSelect: {{{headerSelect}}},
    bodySelect: {{{bodySelect}}},
    bestEffortSelect: {{{bestEffortSelect}}}
}