{
    path: {{{path}}}, 
    auth: {{{auth}}}, 
    method: {{{method}}}, 
    callback: {{{callback}}}, 
    querySelect: {{{querySelect}}},
    paramSelect: {{{paramSelect}}}, 
    headerSelect: {{{headerSelect}}},
    bodySelect: {{{bodySelect}}}
}