import { construct } from 'radash';
import { RpcReturn } from 'apiwitch';
import { initRpcClient } from './kyLib';

{{{imports}}}

export interface ClientType 
    {{{clientTypes}}}


const _client: ClientType = 
    {{{handler}}}

export const client = {
    ...(construct(_client) as ClientType),
    initRpcClient, 

}